// scss/styles/pages/_landing.scss

.landing-intro {
  position: relative;
  width: 100%;

  &__content {
      width: 1300px;
      max-width: 100%;
      margin: 0 auto;
      padding: 75px 24px;

      @media (max-width: 960px) {
        padding: 50px 24px;
      }
  }

  &__grid {
      width: 1300px;
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 50px;
      margin: 0 auto;
      padding: 0 0px;

      @media (max-width: 960px) {
        grid-template-columns: 1fr;
      }

  }
}    

.fp-intro-starter-grid-item {
    display: -webkit-box;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
}

@media (max-width: 960px) {
  .fp-intro-starter-grid-item {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0 60px;
  }
}

@media (max-width: 650px) {
  .fp-intro-starter-grid-item {
    padding: 0 20px;
  }
}

.fp-intro-starter-grid-item h2 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 300;
  font-size: 38px;
  color: #313140;
  text-transform: none;
  line-height: 1.4;
}

@media (max-width: 650px) {
  .fp-intro-starter-grid-item h2 {
    font-size: 24px;
  }
}