// scss/styles/pages/_login.scss

:root {
  --grid-size: 550px;
}

#login-page {
  position: relative;
  min-height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
  background-color: var(--bg) !important;

  #login-container {
    width: 350px;
    max-width: 100%;
  }

  .logo-text {
    font-size: clamp(1.75rem, 4vw, 1.85rem);
    margin-bottom: 1.5rem;
  }
}

#login-page > * {
  position: relative;
  z-index: 1;
}

#login-page::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  background-image:
    linear-gradient(to right, var(--bg-grid-image-gradient-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--bg-grid-image-gradient-color) 1px, transparent 1px),
    radial-gradient(circle 2.5px at 0 0, var(--bg-grid-image-radial-color) 2.5px, transparent 2.5px);

  background-size:
    calc(var(--grid-size) * 1.75) var(--grid-size),
    calc(var(--grid-size) * 1.75) var(--grid-size),
    calc(var(--grid-size) * 1.75) var(--grid-size);

  background-position:
    center center,
    center center,
    center center;

  background-attachment: fixed;

  // Responsive sizing if required
  @media (max-width: 768px) {
    background-image: none;
  }

}