// scss/styles-legacy/pages/_landing-portfolio.scss

.luxy-el-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  max-width: 100vw;
  margin: 0 0 100px 0;
  
  @media(max-width: 960px) {
    margin: 0;
  }
}


.luxy-el-desc {
  position: absolute;
  bottom: 100px;
  width: 550px;
  max-width: 90vw;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  line-height: 1.2;
}

.luxy-el-desc-left {
  left: 100px;
  text-align: left;

  @media(max-width: 960px) {
    left: 50px;
  }
  
  @media(max-width: 650px) {
    left: 20px;
  }
}  

.luxy-el-desc-right {
  right: 100px;
  text-align: right;

  @media(max-width: 960px) {
    right: 50px;
  }

  @media(max-width: 650px) {
    right: 20px;
  }
}

.luxy-el-work {
  font-family: 'Roboto Condensed';
  font-size: 10pt;
  font-weight: 600;
  margin-bottom: 10px;
}

.luxy-el-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.7;
}

.luxy-el {
  position: absolute;
  height: calc(100vh + 200px);
  min-width: 100%;
}

.luxy-el-1 {
  top: -200px;
  background: url(../images/legacy/portfolio/portfolio-hero-01.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  
  @media(max-width: 960px) {
    background-position: 0% 50%;
  }
  
  @media(max-width: 650px) {
    background-position: 0% 50%;
  }

}  

.luxy-el-2 {
  top: -200px;
  background: url(../images/legacy/portfolio/julien-macdonald-01.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.luxy-el-3 {
  top: -200px;
  background: url(../images/legacy/portfolio/lisa-king-01.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  @media(max-width: 960px) {
    background-position: 75% 50%;
  }
  
  @media(max-width: 650px) {
    background-position: 75% 50%;
  }

}

.luxy-el-4 {
  top: -200px;
  background: url(../images/legacy/portfolio/nike-01.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.work-parallax-image {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.work-parallax-image-1 {
  background: url(../images/legacy/portfolio/portfolio-hero-01.jpg);
  background-size: cover;
  background-position: 0% 50%;
}

.work-parallax-image-2 {
  background: url(../images/legacy/portfolio/julien-macdonald-01.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.work-parallax-image-3 {
  background: url(../images/legacy/portfolio/lisa-king-01.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.work-parallax-image-4 {
  background: url(../images/legacy/portfolio/nike-01.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.work-image-grid {
  width: 1300px;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 50px auto 100px auto;
  padding: 0 24px 0px 24px;
  
  @media(max-width: 960px) {
    grid-template-columns: 1fr;
    grid-gap: 24px;
    margin: 0 auto;
    padding: 20px;
  }
}


.work-image {
  position: relative;
}

.work-image-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: url('../images/legacy/icon-enlarge-image.png') no-repeat;
  background-position: center center;
}

.work-image img {
  height: 600px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  
  @media(max-width: 960px) {
    height: 500px;
    width: 100%;
  }
}