// scss/styles-legacy/pages/_landing-services.scss

.landing-services-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px;
  margin: 50px auto;
  padding: 0 24px;
  
  @media (max-width: 960px) {
    grid-template-columns: auto auto
  }
  
  @media (max-width: 650px) {
    grid-template-columns: auto
  }
}  

.landing-services-grid-item {
  position: relative;
  margin: 20px auto 0 auto;
  width: 100%;
  text-align: center;
}

.landing-services-grid-item img {
  border-radius: 50%;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.landing-services-grid-icon {
  font-size: 2.0em;
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff;
  margin: 30px auto 0 auto;
  padding-top: 19px;
}

.landing-services-grid-header {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 40px;
}

.landing-services-grid-text {
  font-size: 0.9em;
  padding-top: 20px;
}

.services-hero {
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 100;
  font-size: 42px;
  line-height: 1.4;
  padding: 0 20%;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  
  @media (max-width: 650px) {
    padding: 0 10%;
  }
}
