// scss/styles-legacy/pages/_landing-preloader.scss

#intro-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 1995;
  will-change: transform;
  background-image: -webkit-radial-gradient(50% 50%, circle, #fff, #efefef);
  background-image: radial-gradient(at 50% 50%, circle, #fff, #efefef);
}

#intro-logo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  will-change: transform;
  
  img {
    max-width: 100px;
    @media (max-width: 960px) {
      width: 100px;
    }
  }
}

#transition-wipe-1 {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #8e919f; /*#8e919f*/
  will-change: transform;
}

#transition-wipe-2 {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #292b2c;
  will-change: transform;
  z-index: 2000;
}