// scss/styles-lagacy/pages/_landing-about.scss

// Landing page about styles
.landing-about {

  &__content {
    text-align: center;
    max-width: 100%;
    background: #efefef;
    margin-top: 120px;
    padding-top: 50px;
  }

  &__grid {
    width: 1200px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin: 0 auto;
    padding: 0 24px;

    @media (max-width: 960px) {
      grid-template-columns: 1fr;
      grid-gap: 75px;
    }

    &--image {
      position: relative;
      transition: all .2s ease-in-out;
      text-align: center;
      margin-top: -250px;

      img {
        filter: brightness(100%);
        width: 100%;
        transition: all .2s ease-in-out;
        max-width: 500px;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }

    &--item {
      position: relative;
      margin: 0 auto;
      width: 100%;
      text-align: left;

      @media (max-width: 960px) {
        max-width: 90%;
        text-align: center;
      }

    }    

    &--text {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: left;
      padding: 100px 0;
  
      @media (max-width: 960px) {
        padding: 0 0 50px 0;
      }
    }

  }

}