//- src/views/includes/legacy-contact-form.pug

//- Anchor for contact section
a#contact.anchor

//- Contact form section
section(style='background-color: #efefef; padding-top: 30px; margin-top: 0')

  //- Section content
  .content(style='text-align: center; max-width: 100%; margin-top: 0; padding-top: 0')
    h3 Get in touch
    div(style='width: 450px; max-width: 100%; margin: 40px auto 40px auto; max-width: 90%')
      | Do have an event coming up? Fill in the following form and we&apos;ll get straight back to you to discuss your requirements.

    //- Contact form
    form#contact-form(style='width: 700px; max-width: 90%; margin: 0 auto')
      .row.gx-2
        .col-12.col-md-6.mb-2
          input.form-control(type='text' name='first-name' placeholder='First Name: *' required)
        .col-12.col-md-6.mb-2
          input.form-control(type='text' name='last-name' placeholder='Last Name: *' required)
      .row.gx-2
        .col-12.col-md-6.mb-2
          input.form-control(type='text' name='telephone' placeholder='Telephone Number: *' required)
        .col-12.col-md-6.mb-2
          input.form-control(type='email' name='email' placeholder='Email Address: *' required)
      .row.mb-1
        .col-12
          textarea.form-control(rows='4' wrap='hard' name='message' style='width: 100%' placeholder='Please leave a message... *' required)
      .row
        .col-12
          button#btn-new-contact-form-message.btn.mt-2(name='new-contact-form-message' style='width: 100%; background: #313140; color: #fff; cursor: pointer') Send Enquiry