// scss/styles/layouts/_nav.scss

nav {
  position: relative;
  z-index: 250;
  opacity: 0;
  visibility: hidden;

  .nav-container a {
    background-color: transparent;
    color: var(--text);
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
  }

  .theme-link {
    cursor: pointer;
  }

  #user-dropdown {
    top: 65px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    color: #6c757d;
    font-weight: 500;
    background: var(--background-color);
  
    a:hover {
      background: #434a52;
    }
  }

  .sub-menu {
    position: relative;
    opacity: 0;
    visibility: hidden;
    line-height: 1.4;
    border-radius: 0.5rem;

    img {
      margin-top: -2px;
    }

    .container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-image: url('/images/bg-sub-menu.jpg');
      background-size: cover;
      background-position: center;
      border-radius: 0.5rem;
      box-shadow: 0 4px px rgba(0, 0, 0, 0.3);
    }

    .accordion {
      background-color: var(--background-color);

      .accordion-item {
        color: #6c757d !important;
        background-color: var(--background-color);

        .sub-menu-column-title {
          color: var(--text);
          border-bottom: solid 1px var(--border-color);
        }

        .accordion-button {
          background-color: var(--background-color);
          box-shadow: none;
        }
      }
    }

    ul, li {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .sub-menu-link, .sub-menu-link a {
      color: var(--text-muted) !important;
      border-bottom: solid 1px var(--border-color);
    }

    .sub-menu-link:hover .sub-menu-title, .sub-menu-link.hover .sub-menu-title {
      color: var(--text);
      text-decoration: none;
    }

    .sub-menu-title {
      font-weight: bold;
      color: var(--text-secondary);
      transition: all 0.3s ease;
    }

    .sub-menu-text {
      font-size: 10pt;
      color: var(--text-muted);
    }

    @media (max-width: 1199.98px) {
      position: relative;
      border-radius: 0;

      .container {
        position: fixed;
        left: auto;
        right: 0;
        height: 100vh;
        overflow-y: scroll;
        width: Min(100%, 500px);
        margin-top: -7px;
        border-radius: 0;
      }
    }
  }
}