// scss/styles/base/_fonts.scss

// Playfair Display variable
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair-Display-Variable.ttf') format('truetype');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

// Roboto variable (body text)
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

// Roboto Condensed variable
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/Roboto-Condensed-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}