//- src/views/legacy-terms.pug

extends layouts/legacy-main

block content

  //- -----------------------
  //- Intro overlay (brand entry animation)
  //- -----------------------

  #intro-overlay
    #intro-logo.flex-center
      img(src='images/legacy/logo.png' alt='Visual Audio Logo')
    #transition-wipe-1
  #transition-wipe-2

  //- -----------------------
  //- Terms and conditions
  //- -----------------------

  #terms-page.container-fluid(style='margin-top: 180px; margin-bottom: 80px')
    .container
      .row
        .col-12
          h3 Terms &amp; Conditions
      .row
        .col-12.pb-3
          | Visual Audio Ltd - Terms &amp; Conditions
      .row
        .col-12.pb-3
          | For the purposes of these terms and conditions, the client is to be referred to as the Hirer and Visual Audio Ltd to be referred to as VA.
      .row
        .col-12
          ol
            li.pb-3
              | All hired equipment remains the property of Visual Audio Ltd. VA reserves the right to remove items under rental contract if the Hirer does not adhere to the terms of the contract.
            li.pb-3
              | Hire charges are based on the period of the contract irrespective of whether the equipment is in use.
            li.pb-3
              | VA may charge you if you extend or alter timings of your event or change the Venue for which the quotation was originally provided. VA may at its discretion require immediate payment of these charges in cleared funds.
            li.pb-3 VA reserves the right to refuse an extension to the period of hire once agreed.
            li.pb-3
              | The Hirer will be responsible for advising the Company as to the location of the hired equipment during the period of hire and in any change of location.
            li.pb-3
              | Any prices shown on VA website or literature and any quotations provided by VA does not constitute a legally binding offer by VA.
            li.pb-3
              | The contract is finalised when we send an acknowledgement to you. Prices or quotations are exclusive of VAT and do not constitute an offer by us to you until we have confirmed in our Acknowledgement that our price is final. Acceptance of quotations and invoices will be acknowledged via email, text or any other form of written communication.
            li.pb-3
              | We must receive full payment upon confirmation, unless alternate payment options have been agreed in writing upon booking. No refunds will be issued in the event of cancellation or postponement by you.
            li.pb-3
              | Cancellation if payment has not been received in full: VA reserves the right to charge a cancellation fee if the Customer cancels a hire, production or sale. We reserve the right to charge a cancellation fee up to 50% of the total fee after confirmation and up to 100% when cancellation occurs 7 calendar days or less prior to beginning of the hire, production or sale.
            li.pb-3
              | It is the responsibility of the Hirer to issue a purchase order or purchase agreement for each transaction, in a case where this does not happen, we will assume that the acceptance of a quotation by anyone employed by the Hirer will have full authority to order goods and services and that the customer will have full authority to order goods and services and that the Hirer will be financially liable for goods provided under this premise.
            li.pb-3
              | If agreed charges are not paid on the due date then VA will reserve the right to repossess the hired items and will not be liable for any damage or loss which may be suffered by the Customer as a consequence of any such repossession.
            li.pb-3
              | In the case of late payment, VA has the right to charge interest of 10% and cancel any discounts, backdating to the beginning of the contract.
            li.pb-3
              | Throughout the period of hire, the Company reserves the right to repossess the equipment if any of the clauses in this contract are deemed to have been broken. The Customer must provide the Company unrestricted access to all of the equipment within 24 hours of the Company notifying the Customer.
            li.pb-3
              | Hire commences when:
              ul Hirer collects and signs for equipment at VA&rsquo;s premises.
              ul Hirer&rsquo;s agent collects and signs for equipment at VA&rsquo;s premises.
              ul VA delivers equipment to a prearranged location &ndash; whether signed for or not.
            li.pb-3
              | Equipment Hire ceases when:
              ul Hirer returns equipment to VA&rsquo;s premises.
              ul Hirer&rsquo;s agent delivers equipment to VA&rsquo;s premises.
              ul VA collects equipment from a prearranged location &ndash; whether signed for or not.
            li.pb-3
              | Equipment is not deemed to be returned until it has been checked, inspected and declared in working order by an authorised member of VA&rsquo;s staff, and VA&rsquo;s paperwork signed off to confirm the end of the hire.
            li.pb-3
              | If the Hirer fails to return the Equipment on or before the Return Date, the Hirer shall pay, in addition to the Price, hire charges at the daily rate payable under the Contract.
            li.pb-3
              | The cost of delivery to and collection from the Venue of the Equipment is not included in the Price but is payable in addition to the Price as set out in the Acknowledgement.
            li.pb-3
              | Deliveries and Storage: The hirer will provide a safe and toll-free delivery area and ensure that VA deliveries are not subject to parking penalties and will not create a public hazard. The hirer will provide secure storage for materials and spare equipment where necessary.
            li.pb-3
              | If VA is prevented in anyway from collecting hired items within the time frame and at the location agreed, we reserve the right to charge for a second collection and to extend hire charges.
            li.pb-3
              | Hirer&rsquo;s duty of care: The hirer is responsible for insuring that equipment under hire is used according to manufacturer&rsquo;s recommendations and kept free from exposure to harmful environment such as humidity and dust. The hirer will insure that equipment under hire is kept clean and cooling outlets are kept dust free. The hirer will insure that competent staff is hired to operate equipment and that any defective equipment is immediately reported to VA.
            li.pb-3
              | The Hirer will be responsible for ensuring that any relevant regulations, rules or statutory provisions governing, or relating to, the use of the hire equipment are complied with during the period of the hire and VA in no way assumes liability for the consequences of any noncompliance with any such regulations, rules or statutory provisions.
            li.pb-3
              | Equipment hired will be entirely at the Hirer&rsquo;s risk during the hire period and the Hirer will be responsible for any loss or damage thereto however arising. The Hirer undertakes responsibility for insuring equipment against &lsquo;all risks&rsquo; to full replacement value. Any loss or damage to the equipment is to be reimbursed to VA by the Hirer to the full replacement value thereof. In the event that the damaged/lost/stolen equipment is no longer in production, the cost of replacement for an equivalent model will be charged.
            li.pb-3
              | It is the Hirer&rsquo;s responsibility to ensure that all items on the agreement are covered by the Hirer&rsquo;s insurance. The total value of equipment for insurance purposes will be confirmed by VA in the contract. Missing items will be charged to the hirer at full list price; accidental damages will be charged at the total cost of repairs.
            li.pb-3
              | The Hirer must ensure that the equipment is only used indoors unless otherwise stated or agreed in writing in advance by VA.
            li.pb-3
              | Equipment will be supplied to the Hirer in full working order and VA&rsquo;s liability for any defect, or failure of the equipment hired is limited to the rectification of any defect or failure arising from normal usage. VA&rsquo;s liability shall not extend to consequential losses incurred by the customer as a result of malfunction of VA&rsquo;s equipment. No liability will be extended by the Company for defects or failures deemed to be caused by user error, wilful damage, or neglect caused or allowed by the Hirer. This clause will not affect the customer&rsquo;s statutory rights.
            li.pb-3
              | Loss, failure or defects in hired equipment must be immediately notified to VA (within 24 hours) of its occurrence, and be confirmed in writing within three days of the occurrence. In the absence of such notification, the Hirer may be charged with the full cost of repair or replacement and may invalidate whatever redress is normally offered.
            li.pb-3
              | Complaints or claims resulting from any defect or failure of the equipment hired must be subject to notifications per clause 22 and clause 23, if this is done and equipment is deemed to have malfunctioned through VA&rsquo;s responsibility, there will be a no-quibble refund of equipment and associated costs. Equipment not working on site but tested working on return will not be refunded.
            li.pb-3
              | Maintenance: VA will ensure that all equipment is in working order and that maintenance is carried out on a regular basis. There will be no charge for servicing the equipment installed but the Hirer will be charged a call-out fee if our engineers have been unable to gain access or have been hindered from carrying out a maintenance run. VA will carry out regular servicing based on specific requirement and best practice.
            li.pb-3
              | Warranty and Repair: VA will repair or replace defective equipment within 1 week of notification. This will be carried out during normal office hours. Notifications should be made by E-mail to ensure that both parties have records of such request. In the case that notification is made by another means, e.g. telephone, an email should be sent to VA confirming this request to insure a reliable trail. Hirer will ensure that defective equipment is ready for collection and that competent technical staff is at hand to re-install replacement equipment. Or have VA to re-install subject to a negotiable fee.
            li.pb-3
              | VA cannot be held responsible for any injuries to any person or damage to property or other equipment consequential to and arising from any improper use of the equipment by the Hirer during the period of Hire.
            li.pb-3
              | Equipment must not be altered or modified by the Hirer in any way. In particular, cables must not be cut and plugs and sockets must not be rewired by the Hirer. In addition, no modification or alteration by a 3rd party must be allowed by the Hirer. If this is found to be the case, the client will be charged with the full cost of repair or replacement, whichever is deemed necessary by VA.
            li.pb-3
              | No equipment hired from VA may be taken outside Mainland Britain, either to any offshore island or to any foreign country without the prior written consent of an authorised person at VA.
            li.pb-3
              | In the event of any equipment ordered not being available for hire through circumstances beyond the control of VA, the Company reserves the right to substitute equipment of similar quality for all or part of the duration of hire.
            li.pb-3
              | It is an express condition of the hire that the Hirer shall not offer for hire to any third party or parties any equipment which is the property of VA, without the prior written consent of VA.
            li.pb-3
              | The Hirer will be responsible to ensure that VA&rsquo;s requirements are met with regards to scheduled access, provision of electrical power, Health &amp; Safety and any other requirements deemed necessary for the timely completion of installation and the longevity of equipment installed.
            li.pb-3
              | The Customer agrees that Visual Audio Ltd may, without liability, omit, change or move any element of the Services as Visual Audio Ltd reasonably considers necessary on the grounds of health and safety.
            li.pb-3
              | The Hirer must provide full and accurate technical details of the Venue and access to the Venue as required by VA prior to the Commencement Date. VA shall be entitled to terminate the Contract without liability if, in VA&rsquo;s reasonable opinion, the results of those technical details are unsatisfactory.
            li.pb-3
              | The Customer shall ensure that the Venue is suitable for the Services including but not limited to the size of the Venue, and the technical facilities available to accommodate provision of the Services by VA.
            li.pb-3
              | Any last-minute requirements or changes during installation should be addressed in an email to Jack Blattner and alterations to the purchase agreement amended. Any such changes will be discretionary on the part of VA and depend on the practicality of such changes. If provided the use of such service or equipment will be deemed to be an acquiescence of order.
            li.pb-3
              | VA will endeavour to deliver installation by the specified date but will not be responsible for any consequential claims should installation not be completed by then.
            li.pb-3
              | The Customer agrees that the Customer shall pay the Price notwithstanding that part or all of the Services are unable to be completed by VA as a result of access to the Venue or the time available to access the Venue being limited, failure of lifts or any other event occurring at the Venue which results in VA becoming unable to complete the Services.
            li.pb-3
              | Loss or damage to equipment: The Hirer has a duty of care for any preventable loss or damage of VAs property from site, wherever VA isn&rsquo;t in direct supervision of such property. This duty of care should involve providing adequate security to prevent any losses or damages resulting from the behaviour of members of the public or other contractors.
            li.pb-3
              | Cancellation rights for VA: VA reserves the right to halt or cancel its engagement to provide equipment and services in the following instances: if there is evidence that payment of remaining balance will not be met due to the insolvency or liquidation of the Hirer&rsquo;s company, if VA has substantial concerns over the Health &amp; Safety of employees, contractors or members of the public before or if any of VA&rsquo;s agents are victims of abusive behaviour. In such instances, remedial solutions would immediately be sought in cooperation with the Client to alleviate the situation. If no such solution is provided, VA reserves the right to cancel its engagement and in this instance no refund of deposit would be issued.
            li.pb-3
              | VA has a full public Liability and Professional Indemnity which will indemnify the Client from any claims arising from malfunctioning equipment, poor workmanship or poor advice supplied by VA. VA will replace or repair damaged property belonging to guests or venue which has been directly affected by VA&rsquo;s staff or contractors&rsquo; activities. VA will however not be liable for any consequential losses arising from the supply of goods and services as contracted. This clause does not affect the Hirer&rsquo;s statutory rights.
            li.pb-3
              | Alterations: Any alteration of the lighting and rigging system under hire should only be carried out by VA engineers. Labour and transport costs will be chargeable to the Hirer for this service.
            li.pb-3
              | The Client hereby gives permission for VA to display any event images and video included in this contract in VA marketing material, including case studies, literature, exhibitions, advertising, competitions, magazines and on websites, unless a Non-Disclosure Agreement has been signed by both parties at time of contract. No use of any of the images will be used for other commercial reasons, except with written permission from the Client. The above will be considered in accordance with current GDPR legislation.
            li.pb-3
              | Assignment: The Customer shall not without prior written consent of VA assign or transfer the contract or any part of it to any other person.
            li.pb-3
              | VA reserves all rights in its intellectual property of any nature whatsoever including without limitation copyright, and design rights and the Customer shall not be entitled to any intellectual property rights arising out of the provision of the Services. The Customer shall not release photographs, designs, quotations, drawing and recordings to any third party for any commercial purpose without the prior written consent of VA.
