// scss/bdomes-beta/base/_forms.scss

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0 1000px var(--bg) inset;
  transition: background-color 9999s ease-in-out 0s;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea,
select {
  font: inherit;
  font-size: 10pt !important;
  padding: 0.75rem 1rem !important;
  color: var(--text) !important;
  background-color: var(--bg) !important;
  background-clip: padding-box !important;
  border-radius: 0.375rem !important;
  border: solid 1px var(--border) !important;
  outline: none;
  box-shadow: none;
  &:focus {
    border-color: var(--input-border-focus) !important;
  }
}

input:focus,
input:valid,
input:invalid,
textarea:focus,
select:focus {
  color: var(--text) !important;
  background-color: var(--bg) !important;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--text-placeholder) !important;
  opacity: 1; // Firefox otherwise fades it
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background-image: none;
  outline: none;
}

label {
  font-size: 9pt !important;
  color: var(--text-muted);
}