//- src/views/index-legacy.pug

extends ../views/layouts/main-legacy

block content

  body

    //- -----------------------
    //- Modal
    //- -----------------------

    //- Contact Error Modal

    .va-modal.va-modal--contact-error
      .va-modal__content
        .va-modal__header Visual Audio: Contact Form Error
        .va-modal__body Please complete all of the required fields to submit a contact request.
        .va-modal__footer
          button.btn-va-modal.btn-va-modal--primary Confirm

    //- -----------------------
    //- Landing Page Content
    //- -----------------------

    .page-landing

      //- -----------------------
      //- Carousel Section
      //- -----------------------

      .carousel.slide(id="carousel" data-bs-ride="carousel" style="overflow: hidden; position: relative; width: 100vw" data-bs-interval="5000")
        .carousel-inner(style="position: relative")
          .carousel-item.active(style="width: 100%; height: 100vh; background-color: #20202f")
            img(src="images/legacy/hero-slide-01.jpg" style="object-fit: cover; object-position: 45% 100%; width: 100%; height: 100%")
            .carousel-overlay
            .carousel-content-wrapper.flex-center
              .carousel-text-wrapper
                .carousel-content
                  .carousel-header(style="text-shadow: 0 0 10px rgba(0,0,0,0.5)") We collaborate. We create.
                  .carousel-text We work with you to <strong>bring your vision to life</strong>.
          .carousel-item(style="width: 100%; height: 100vh; background-color: #20202f")
            img(src="images/legacy/hero-slide-02.jpg" style="object-fit: cover; object-position: 45% 100%; width: 100%; height: 100%")
            .carousel-overlay
            .carousel-content-wrapper.flex-center
              .carousel-text-wrapper
                .carousel-content
                  .carousel-header(style="text-shadow: 0 0 10px rgba(0,0,0,0.5)") Lighting. Sound. Audio Visual.
                  .carousel-text We provide a <strong>single port of call</strong> for everything AV.
          .carousel-item(style="width: 100%; height: 100vh; background-color: #20202f")
            img(src="images/legacy/hero-slide-03.jpg" style="object-fit: cover; object-position: 45% 100%; width: 100%; height: 100%")
            .carousel-overlay
            .carousel-content-wrapper.flex-center
              .carousel-text-wrapper
                .carousel-content
                  .carousel-header(style="text-shadow: 0 0 10px rgba(0,0,0,0.5)") Tailored Private Functions.
                  .carousel-text We create <strong>magical moments</strong>
          .carousel-item(id="carousel-video" style="width: 100%; height: 100vh; background-color: #20202f")
            video(id="video-splash" width="100%" height="100%" autoplay loop muted playsinline style="object-fit: cover" poster="images/legacy/videos/5g-video-placeholder.jpg") 
              source(src="images/legacy/videos/5g-video.mp4" type="video/mp4")
            .carousel-overlay
            .carousel-content-wrapper.flex-center
              .carousel-text-wrapper
                .carousel-content
                  .carousel-header(style="text-shadow: 0 0 10px rgba(0,0,0,0.5)") Unforgettable Experiences.
                  .carousel-text We provide a <strong>single port of call</strong> for everything AV.
          a.carousel-control-prev(href="#carousel" role="button" data-bs-slide="prev" style="z-index: 1000; justify-content: flex-start")
            img(src="images/legacy/chevron-left.png")
          a.carousel-control-next(href="#carousel" role="button" data-bs-slide="next" style="z-index: 1000; justify-content: flex-end")
            img(src="images/legacy/chevron-right.png")

      //- -----------------------
      //- Intro Section
      //- -----------------------

      section.landing-intro
        .landing-intro__content
          .landing-intro__grid
            .landing-intro__grid--item
              h2 Visual Audio is one of the 
                span(style='font-weight: 700') UK&apos;s leading lighting, sound and AV production companies
                | . We create unforgettable experiences for our customers.
              div(style='padding: 20px 0 40px 0; font-size: 120%')
                | Visual Audio is one of the UK&apos;s leading lighting, sound and audio visual production companies. We also provide lighting and sound design, venue installation, equipment hire, and more. With creativity at heart, our goal is to create special and unforgettable experiences for our customers.

      //- -----------------------
      //- Intro Section
      //- -----------------------

      section.landing-about

        a#landing-about.anchor
        .landing-about__content
          .landing-about__grid
            .landing-about__grid--item
              .landing-about__grid--image
                img(src='images/legacy/about.jpg')
            .landing-about__grid--item
              .landing-about__grid--text
                h3 About Us
                div(style='max-width: 100%; margin: 40px 0 0 0')
                  p With over 30 years combined experience, we produce meaningful shows and events that people never forget. We unite culture with the consumer, pushing boundaries to produce incredible spectacles which have our trademark Visual Audio &lsquo;wow factor&rsquo;.
                  p Visual Audio is a complete team of project managers, designers and technicians based in London, providing a one company, one port of call service for all of our customers  technical requirements.
                  p We offer everything from lighting and sound design, to production management and equipment hire, working with fashion shows, night clubs, conferences, art installations, live performances, as well as theatre and concert halls, to name but a few.
