// scss/layout/_nav-mobile.scss

#mm-bg-1 {
    position: fixed;
    top: 0;
    left: 100vw;
    height: 100%;
    width: 100%;
    background-color: #8e919f;
    z-index: 1400;
}

#mm-bg-2 {
    position: fixed;
    top: 0;
    left: 100vw;
    height: 100%;
    width: 100%;
    background-color: #1e233f;
    z-index: 1400;
}

#mmenu {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0 100px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 200;
    text-transform: capitalize;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
}

@media(max-width: 650px) {
    #mmenu {
        padding: 0 20px;
        font-size: 36px;
    }
}

#mmenu ul {
    width: 100%;
}

#mmenu ul li {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0px 20px 10px 20px;
    line-height: 1.5;
}

#mmenu ul li a {
    display: block;
    color: #d2d3d9;
    color: rgba(255, 255, 255, 0.7);
}

#mmenu ul li a:hover {
    color: #fff;
}

#mmenu ul li::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -5%;
    left: 0;
    height: 100%;
    width: calc(100% - 20px);
    margin: 0;
    padding: 10px 20px 0 20px;
    line-height: 1.5;
    background: rgba(255, 255, 255, 0.05) url(../img/mm-bg.png);
    border-radius: 2px;
    z-index: -1;
    -webkit-transition: all 2.5s cubic-bezier(.19, 1, .22, 1);
    transition: all 2.5s cubic-bezier(.19, 1, .22, 1);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: 0 0;
    will-change: transform;
}

#mmenu ul li:hover::before {
    -webit-transition: transform 0.5s cubic-bezier(.19, 1, .22, 1);
    transition: transform 0.5s cubic-bezier(.19, 1, .22, 1);
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: 0 0;
    will-change: transform;
}

