//- src/views/includes/nav.pug

//- Mobile navigation
#mm-wrapper
  #mm-bg-1
  #mm-bg-2
    #mmenu.flex-center(style='justify-content: flex-start')
      ul.mt-3(style="list-style-type: none")
        li.mmenu-link
          a#mmenu-link-home.text-decoration-none(href='#home') Home
        li.mmenu-link
          a#mmenu-link-about.text-decoration-none(href='#about') About
        li.mmenu-link
          a#mmenu-link-services.text-decoration-none(href='#services') Services
        li.mmenu-link
          a#mmenu-link-work.text-decoration-none(href='#work') Work
        li.mmenu-link
          a#mmenu-link-terms.text-decoration-none(href="/terms-and-conditions") Terms &amp; Conditions
        li.mmenu-link
          a#mmenu-link-contact.text-decoration-none(href='#contact') Contact

//- Desktop navigation
nav.va-nav
  .va-nav__logo
    a.va-nav--logo-text(href="/") 
      img(src="/images/legacy/logo.png" alt="Visual Audio Logo")
      span(style='opacity: 0.5') VISUAL
      span AUDIO
      
  ul.va-nav__list
    li.va-nav__item
      a.va-nav__link#menu-link-home.is-active(href="#home") Home
    li.va-nav__item
      a.va-nav__link#menu-link-about(href="#about") About
    li.va-nav__item
      a.va-nav__link#menu-link-services(href="#services") Services
    li.va-nav__item
      a.va-nav__link#menu-link-work(href="#work") Work
    li.va-nav__item
      a.va-nav__link#menu-link-terms(href="/terms-and-conditions") Terms
    li.va-nav__item
      a.va-nav__link#menu-link-contact(href="#contact") Contact

.nav-background

//- Mobile hamburger menu
.hamburger-wrapper-outer
  .hamburger-wrapper-inner
    .hamburger
      .line-menu.half.start
      .line-menu
      .line-menu.half.end