//- src/views/includes/footer.pug

.footer-wrapper
  .footer
    .footer-grid
      .footer-grid-item
        .footer-logo
          a(href='https://www.visual-audio.co.uk')
            span(style='opacity: 0.5') Visual 
            | Audio
        div
          | 15 Upper Richmond Road West
          br
          | London
          br
          | SW14 8QS
          br
          br
          | Telephone: 
          a(href='tel:+442078673921') 020 7867 3921
          br
          | E-Mail: 
          a(href='mailto:info@visual-audio.co.uk') info@visual-audio.co.uk
        .footer-list.footer-social
          .footer-list-social-link(style='padding-left: 0')
            a(href='https://www.facebook.com/VisualAudio/' target='_blank')
              img(src='images/legacy/icon-facebook.png')
          .footer-list-social-link
            a(href='https://www.instagram.com/visualaudioltd/' target='_blank')
              img(src='images/legacy/icon-instagram.png')
      .footer-grid-item(style='line-height: 1.5')
        .footer-logo
          span(style='opacity: 0.5') About 
          | Us
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Visual Audio is one of the UK&apos;s leading lighting, sound and audio visual production companies. We also provide lighting and sound design, venue installation, equiment hire, and more. With creativity at heart, our goal is simple: to create truly special and unforgettable experiences for our customers.
      .footer-grid-item
        .footer-logo
          span(style='opacity: 0.5') Our 
          | Services
        ul
          li(style='padding: 0   0 7px 0; border-bottom: dotted 1px #7d7b8d') Venue Installation
          li(style='padding: 6px 0 7px 0; border-bottom: dotted 1px #7d7b8d') Lighting and Sound Design
          li(style='padding: 6px 0 7px 0; border-bottom: dotted 1px #7d7b8d') Production Management
          li(style='padding: 6px 0 7px 0; border-bottom: dotted 1px #7d7b8d') Visualisations
          li(style='padding: 6px 0 7px 0; border-bottom: dotted 1px #7d7b8d')
            a(href='#services') View All Services
    .footer-copyright
      | Copyright &copy;
      | Visual Audio Ltd. All rights reserved.
      div(style='display: flex; flex-direction: row')
        span Developed and Designed by 
        span(style='padding-left: 5px')
          a(href='https://www.bryanlown.com/' target='_blank' style="font-family: 'aaaiight'; font-size: 125%; letter-spacing: 0.07em") bl.