// abstracts/_utilities.scss

@use './mixins' as *;

.flex-center {
  @include flex-center;
}

.landing-wrapper {
  @include flex-center();
  height: 100vh;
  background-color: #000;
  img {
    width: 150px;
    height: 150px;
    filter: invert(1);
  }
}