// scss/styles-legacy/components/_hamburger.scss

// Hamburger
.hamburger-wrapper-outer {
  position: absolute;
  z-index: 2500;
  top: 67px;
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  text-align: right;
  transition: all 0.5s;
  
  @media (max-width: 960px) {
    display: inline;
  }
}

.hamburger-wrapper-inner {
    position: relative;
    margin: 0 auto;
    width: 1300px;
    max-width: 100%;
}

.hamburger {
  position: fixed;
  top: 36px;
  right: 25px;
  width: 20px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger:hover>.start {
  -webkit-transform: translate3d(10px, 0, 0);
  -ms-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  transition: transform 100ms ease-in;
}

.hamburger:hover>.end {
  -webkit-transform: translate3d(-10px, 0, 0);
  -ms-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  transition: transform 100ms ease-in;
}

.open .line-menu.start {
  -webkit-transform: rotate(-90deg) translateX(3px);
  -ms-transform: rotate(-90deg) translateX(3px);
  transform: rotate(-90deg) translateX(3px);
}

.open .line-menu.end {
  -webkit-transform: rotate(-90deg) translateX(-3px);
  -ms-transform: rotate(-90deg) translateX(-3px);
  transform: rotate(-90deg) translateX(-3px);
}

.line-menu {
    background-image: linear-gradient(to right, #fff, #fff);
    background-blend-mode: difference;
    border-radius: 5px;
    width: 100%;
    height: 2px;
}

.line-menu.half {
    width: 50%;
}

.line-menu.start {
    transition: transform 200ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}

.line-menu.end {
    align-self: flex-end;
    transition: transform 200ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}
