// scss/styles-legacy/components/_hamburger.scss

.hamburger {
    position: fixed;
    top: 36px;
    right: 25px;
    width: 20px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger:hover>.start {
    -webkit-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    transition: transform 100ms ease-in;
}

.hamburger:hover>.end {
    -webkit-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    transition: transform 100ms ease-in;
}

.open .line-menu.start {
    -webkit-transform: rotate(-90deg) translateX(3px);
    -ms-transform: rotate(-90deg) translateX(3px);
    transform: rotate(-90deg) translateX(3px);
}

.open .line-menu.end {
    -webkit-transform: rotate(-90deg) translateX(-3px);
    -ms-transform: rotate(-90deg) translateX(-3px);
    transform: rotate(-90deg) translateX(-3px);
}