// scss/components/_modals.scss

// VA modal styles
.va-modal {
	z-index: 2500;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  opacity: 0;
	visibility: hidden;
	background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  &__content {
    width: 450px;
    max-width: 90%;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border-top: solid 10px #313140;

    @media (max-width: 500px) {
      width: 95%;
      padding: 20px;
    }
  }
    
  &__header {
    padding: 30px 30px 10px 30px;
    color: #181a22;
    font-size: 16px;
    font-weight: 600;
  }
  
  &__body {
    font-size: 10pt;
    padding: 0 30px 30px 30px;
  }

  &__footer {
    box-shadow: inset 1px 4px 3px -6px;
    border-top: solid 1px #ddd;
    text-align: right;
    padding: 10px 10px;
    background: #eee;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

}

.btn-va-modal {
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
}

.btn-va-modal--secondary {
  border: solid 1px #aaa;
  background: #fff;

  &:hover {
    border: solid 1px #aaa;
    background: #fff;
  }
}

.btn-va-modal--primary {
  border: solid 1px #181a22;
  background: #181a22;
  color: #fff;

  &:hover {
    border: solid 1px #181a22;
    background: #181a22;
    color: #fff;
  } 
}