// scss/styles/components/_scrollbar.scss

// Custom scroll

/* WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  //background-color: rgba(255, 255, 255, 0.05); // Or #555 !important
  width: 10px;
  height: 10px;
  overflow: overlay;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05); // Or #555 !important
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25); // Or #333 !important
  border-radius: 10px;
  border: 2px solid transparent; // Or #555 !important
  background-clip: content-box;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.1);
  width: 20px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.9);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0.85);
}