//- src/views/main.pug

block variables
block modals

doctype html
html(lang='en')
  head
    include ../include/head.pug 
  body
    div(id="luxy")

      //- Navigation
      include ../include/nav.pug 

      //- Main content
      main(role="main")
        block content

      //- Footer
      include ../include/footer.pug

      //- Page-specific JS
      include ../include/scripts.pug