// scss/styles/components/_nav.scss

@use '../abstracts/mixins' as *;

.va-nav {
  @include flex-center-space-between;
  position: fixed;
  z-index: 1500;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1300px;
  margin: 20px auto 0 auto;
  padding: 0 30px;
  height: 80px;
  color: #fff;
  
  // Mobile / tablet 
  @media (max-width: 960px) {
    margin-top: 0px;
    padding: 0 15px;
  }

  &__logo img {
    width: 46px;
    margin-right: 1rem;

    // Resize image for mobile / tablet 
    @media (max-width: 960px) {
      width: 40px;
      margin-right: 0.5rem;
    }

  }

  &--logo-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    // Hide menu on mobile / tablet 
    @media (max-width: 960px) {
      display: none;
    }

  }

  &__item {
    &--active &__link {
      font-weight: 700;
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    text-transform: uppercase;
    transition: color 0.2s;
    position: relative;
    display: inline-block;
    padding: 0 30px 20px 30px;

    &:hover {
      color: #fff;

      &::after {
        background: #fff;
        transform: scaleX(1) translate3d(-100%, 0, 0);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      height: 1px;
      width: calc(100% - 60px);
      background: rgba(255, 255, 255, 0.3);
    }

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      height: 3px;
      width: calc(100% - 60px);
      background: rgba(255, 255, 255, 1);
      transition: transform 0.6s cubic-bezier(.19, 1, .22, 1);
      transform: scaleX(0) translate3d(-100%, 0, 0);
      transform-origin: 0 0 0;
      will-change: transform;
    }

    &.is-active::before {
      height: 3px;
      background: rgba(255, 255, 255, 1);
    }
  }
}

.nav-background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 170px;
  z-index: 1499;
  background: url('../images/legacy/nav-bg.png') repeat-x;
  opacity: 0;
  visibility: hidden;
  
  @media (max-width: 960px) {
    background: url('../images/legacy/nav-bg-mobile.png') repeat-x;
    height: 110px;
    margin-top: -10px;
  }
}